name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with: 
          ref: master

    - name: Run a one line script
      run: echo hello, world!

    - name: Run a multiple line script
      run: 
        echo Add other actions to build
        echo test, and deploy your project